IP
192.168.1.240

CGMiner-More-Option
--avalon8-freq 725:750:775:800 --avalon8-voltage-level 10 --avalon8-pll-pwrdn 0:0:0:0 --avalon8-pll-gate 0:0:0:0 --avalon8-freq-sel 3 --avalon8-smart-speed 0
--avalon8-freq 800:800:800:800 --avalon8-voltage-level 10 --avalon8-pll-pwrdn 0:0:0:0 --avalon8-pll-gate 0:0:1:1 --avalon8-freq-sel 0 --avalon8-smart-speed 0
--avalon8-freq 800:800:800:800 --avalon8-voltage-level 10 --avalon8-pll-pwrdn 0:0:0:0 --avalon8-pll-gate 0:0:1:1 --avalon8-freq-sel 1 --avalon8-smart-speed 0
--avalon8-freq 800:800:800:800 --avalon8-voltage-level 10 --avalon8-pll-pwrdn 0:0:0:0 --avalon8-pll-gate 1:0:0:1 --avalon8-freq-sel 1 --avalon8-smart-speed 0
--avalon8-freq 800:800:800:800 --avalon8-voltage-level 10 --avalon8-pll-pwrdn 0:0:0:0 --avalon8-pll-gate 1:0:0:1 --avalon8-freq-sel 2 --avalon8-smart-speed 0
--avalon8-freq 800:800:800:800 --avalon8-voltage-level 10 --avalon8-pll-pwrdn 0:0:0:0 --avalon8-pll-gate 1:1:0:0 --avalon8-freq-sel 2 --avalon8-smart-speed 0
--avalon8-freq 800:800:800:800 --avalon8-voltage-level 10 --avalon8-pll-pwrdn 0:0:0:0 --avalon8-pll-gate 1:1:0:0 --avalon8-freq-sel 3 --avalon8-smart-speed 0
--avalon8-freq 800:0:0:0 --avalon8-voltage-level 10 --avalon8-pll-pwrdn 0:1:1:1 --avalon8-pll-gate 0:1:1:1 --avalon8-freq-sel 0 --avalon8-smart-speed 0
--avalon8-freq 0:800:0:0 --avalon8-voltage-level 10 --avalon8-pll-pwrdn 1:0:1:1 --avalon8-pll-gate 1:0:1:1 --avalon8-freq-sel 1 --avalon8-smart-speed 0
--avalon8-freq 0:0:800:0 --avalon8-voltage-level 10 --avalon8-pll-pwrdn 1:1:0:1 --avalon8-pll-gate 1:1:0:1 --avalon8-freq-sel 2 --avalon8-smart-speed 0
--avalon8-freq 0:0:0:800 --avalon8-voltage-level 10 --avalon8-pll-pwrdn 1:1:1:0 --avalon8-pll-gate 1:1:1:0 --avalon8-freq-sel 3 --avalon8-smart-speed 0
--avalon8-freq 800:800:800:800 --avalon8-voltage-level 10 --avalon8-pll-pwrdn 0:0:0:0 --avalon8-pll-gate 0:0:0:0 --avalon8-freq-sel 0 --avalon8-smart-speed 0
--avalon8-freq 800:800:800:800 --avalon8-voltage-level 10 --avalon8-pll-pwrdn 0:0:0:0 --avalon8-pll-gate 0:0:0:0 --avalon8-freq-sel 1 --avalon8-smart-speed 0
--avalon8-freq 800:800:800:800 --avalon8-voltage-level 10 --avalon8-pll-pwrdn 0:0:0:0 --avalon8-pll-gate 0:0:0:0 --avalon8-freq-sel 2 --avalon8-smart-speed 0
--avalon8-freq 800:800:800:800 --avalon8-voltage-level 10 --avalon8-pll-pwrdn 0:0:0:0 --avalon8-pll-gate 0:0:0:0 --avalon8-freq-sel 3 --avalon8-smart-speed 0
--avalon8-freq 800:800:800:800 --avalon8-voltage-level 10 --avalon8-pll-pwrdn 0:0:0:0 --avalon8-pll-gate 0:1:1:1 --avalon8-freq-sel 0 --avalon8-smart-speed 0
--avalon8-freq 800:800:800:800 --avalon8-voltage-level 10 --avalon8-pll-pwrdn 0:0:0:0 --avalon8-pll-gate 1:0:1:1 --avalon8-freq-sel 1 --avalon8-smart-speed 0
--avalon8-freq 800:800:800:800 --avalon8-voltage-level 10 --avalon8-pll-pwrdn 0:0:0:0 --avalon8-pll-gate 1:1:0:1 --avalon8-freq-sel 2 --avalon8-smart-speed 0
--avalon8-freq 800:800:800:800 --avalon8-voltage-level 10 --avalon8-pll-pwrdn 0:0:0:0 --avalon8-pll-gate 1:1:1:0 --avalon8-freq-sel 3 --avalon8-smart-speed 0
