IP
192.168.1.240

CGMiner-More-Option
--avalon8-freq 0:0:0:800 --avalon8-voltage-level 8 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:800 --avalon8-voltage-level 9 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:800 --avalon8-voltage-level 10 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:800 --avalon8-voltage-level 11 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:800 --avalon8-voltage-level 12 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:800 --avalon8-voltage-level 13 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:800 --avalon8-voltage-level 14 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:800 --avalon8-voltage-level 15 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:825 --avalon8-voltage-level 8 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:825 --avalon8-voltage-level 9 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:825 --avalon8-voltage-level 10 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:825 --avalon8-voltage-level 11 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:825 --avalon8-voltage-level 12 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:825 --avalon8-voltage-level 13 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:825 --avalon8-voltage-level 14 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:825 --avalon8-voltage-level 15 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:850 --avalon8-voltage-level 8 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:850 --avalon8-voltage-level 9 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:850 --avalon8-voltage-level 10 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:850 --avalon8-voltage-level 11 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:850 --avalon8-voltage-level 12 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:850 --avalon8-voltage-level 13 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:850 --avalon8-voltage-level 14 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:850 --avalon8-voltage-level 15 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:875 --avalon8-voltage-level 8 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:875 --avalon8-voltage-level 9 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:875 --avalon8-voltage-level 10 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:875 --avalon8-voltage-level 11 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:875 --avalon8-voltage-level 12 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:875 --avalon8-voltage-level 13 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:875 --avalon8-voltage-level 14 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:875 --avalon8-voltage-level 15 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:900 --avalon8-voltage-level 8 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:900 --avalon8-voltage-level 9 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:900 --avalon8-voltage-level 10 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:900 --avalon8-voltage-level 11 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:900 --avalon8-voltage-level 12 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:900 --avalon8-voltage-level 13 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:900 --avalon8-voltage-level 14 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:900 --avalon8-voltage-level 15 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:925 --avalon8-voltage-level 8 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:925 --avalon8-voltage-level 9 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:925 --avalon8-voltage-level 10 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:925 --avalon8-voltage-level 11 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:925 --avalon8-voltage-level 12 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:925 --avalon8-voltage-level 13 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:925 --avalon8-voltage-level 14 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:925 --avalon8-voltage-level 15 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:950 --avalon8-voltage-level 8 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:950 --avalon8-voltage-level 9 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:950 --avalon8-voltage-level 10 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:950 --avalon8-voltage-level 11 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:950 --avalon8-voltage-level 12 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:950 --avalon8-voltage-level 13 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:950 --avalon8-voltage-level 14 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:950 --avalon8-voltage-level 15 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:975 --avalon8-voltage-level 8 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:975 --avalon8-voltage-level 9 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:975 --avalon8-voltage-level 10 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:975 --avalon8-voltage-level 11 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:975 --avalon8-voltage-level 12 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:975 --avalon8-voltage-level 13 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:975 --avalon8-voltage-level 14 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:975 --avalon8-voltage-level 15 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:1000 --avalon8-voltage-level 8 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:1000 --avalon8-voltage-level 9 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:1000 --avalon8-voltage-level 10 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:1000 --avalon8-voltage-level 11 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:1000 --avalon8-voltage-level 12 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:1000 --avalon8-voltage-level 13 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:1000 --avalon8-voltage-level 14 --avalon8-smart-speed 0 --avalon8-roll-enable 0
--avalon8-freq 0:0:0:1000 --avalon8-voltage-level 15 --avalon8-smart-speed 0 --avalon8-roll-enable 0
